<launch>

	<!-- includes the lab2 display.launch launch file -->
	<include file="$(find navvis_description)/launch/display.launch">

		<!-- sets the necessary args for the lab2 launch file -->
		<arg name="use_xacro" default="false" />
		<arg name="use_robot_state_publisher" default="true"/>
		<arg name="file" default="$(find lab3nav)/urdf/lab3nav.xacro" />
		<arg name="use_sim_time" default="true"/>

	</include>
	
	<!-- Starts the rosbag playback -->
	<node pkg="rosbag" type="play" name="player" args="-clock $(find ros_bag_data)/glennan_5_complete.bag"/>


</launch>

